*.srm
*.bst
resources/sm_orig.s[mf]c
resources/smpal_orig.s[mf]c
build/*.exe
build/*.ips
build/*.smc
build/*.sfc
*.sw[op]
tools/*.smv
tools/*.asm
tools/*.log
tools/asar.exe
tools/dll/*
.vscode/launch.json
.vscode/tasks.json
